.active{
  background-color: #4DB6AC;
}
.container-fluid{
    font-family: 'Bricolage Grotesque', sans-serif;
    color: #000;
    margin-top: 70px;
  }
  .container-fluid h2{
    margin-top: -15px;
    font-family: 'Bricolage Grotesque';
  }
  .scroller{
    color: #fff;
    width: 300px;
    height: 410px;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    /* border: solid rgb(152, 150, 150) 2px; */
  
  }
  .scroller p{
    font-size: 16px;
    padding: 20px 7px;
    color: #000;
    overflow: hidden;
    transition: .5s ease;
    box-shadow: 0px 5px 20px #9496a16f;
    z-index: -1;
  }
  .scroller p:hover {
    background: #fff;
    border: 3px solid #f7f9f8;
  }
  .video h4{
    color: #000;
  }
  .immersive-header-container{
    width: 85%;
    height: 260px;
    padding: 24px;
    transition: 0.3s;
    margin-bottom: 24px;
    border-radius: 0px 0px 16px 16px;
    background: linear-gradient(to bottom, #01896c 0%, #3f3f44 100%);
  }
  .immersive-header-image{
    margin-top: 0px;
    margin-left: -52px;
  }
  .immersive-content h2{
    color: #fff;
    font-size: 20px;
    line-height: 25px;
    font-weight: 100;
    text-align: left;
    font-family: fantasy;
  }
  .immersive-content h5{
    color: #fff;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .immersive-content h6{
    color: #ffffffaf;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 40px;
  }
  .circle{
    margin-left: -90px;
    display: -webkit-inline-box;
    justify-content: space-between;
  }
  .meta-circle-button{
    background: #f9f4e83d;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    margin-right: 10px;
  }
  .fa{
    color: #fff;
    font-size: 20px;
    margin-top: 9px;
  }
  .oval-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
  }
  .btn-primary{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    width: 165px;
    cursor: pointer;
    margin-top: 25px;
    margin-right: 10px;
    border-radius: 22px;
    border-color: #4DB6AC;
    background-color: #00796B;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .btn-primary:hover {
    color: #000;
    border-color: #4DB6AC;
    background-color: #eaddf46b;
  }
  .btn-primary0{
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    width: 165px;
    cursor: pointer;
    margin-top: 25px;
    margin-right: 10px;
    border-radius: 22px;
    border-color: #4DB6AC;
    background-color: #eaddf46b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .btn-primary0:hover{
    color: #fff;
    border-color: #4DB6AC;
    background-color: #00796B;
  }
  .content-heading {
    padding: 9px;
    color: #fff;
    display: inline;
    margin-left: 60px;
    word-spacing: 2px;
    letter-spacing: 3px;
    writing-mode: vertical-lr;
    transform:rotate(360deg);
    margin-top: 38px !important;
    background: linear-gradient(to bottom, #01896c 0%, #3f3f44 100%);
  }
  .content-list img{
    float: left;
    margin-top: 5px;
    color: #00796B;
  }